<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>plexconnect.primarydnsserver.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>python</string>
		<string>/Applications/PluttPlexConnect/server/PlexConnect.py </string>
	</array>
</dict>
</plist>
